@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background-color: #191C1B;  

}
body::-webkit-scrollbar-thumb {
    background-color: white; 
}
.btn-outline-secondary{
    border: black 1px solid;  
}
.btn-outline-secondary:hover{
    color: white;
    background-color: black;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}
.navbar li{
    font-size: 20px;
}
.navbar-brand{
    font-size: 30px;
}
.title{
    padding-top: 50px;
    width: 100%;
    height: 900px;
    background-image: url('/images/Untitled\ design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outlined{
    height: 50%;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outlined div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.outlined #dis{
    color: white;
    font-family: s;
    font-size: 140px;
}
#hr{
    width: 400px;
    height: 5px;
    background-color: white;
}
.outlined #dis2{
    color: white;
    font-size: 110px;
}
@media (max-width: 1400px){
    .outlined{
        height: 40%;
    }
    .outlined #dis{
        font-size: 120px;
    }
    .outlined #dis2{
        font-size: 80px;
    }
}
@media (max-width: 1200px){
    .title{
        justify-content: center;
        align-items: center;
    }
    .outlined #dis{
        font-size: 100px;
    }
    .outlined #dis2{
        font-size: 60px;
    }
}
@media (max-width: 992px){
    .outlined #dis{
        font-size: 80px;
    }
    .outlined #dis2{
        font-size: 50px;
    }
}
@media (max-width: 770px){
    .title{
        height: 500px;
    }
    .outlined #dis{
        font-size: 60px;
    }
    .outlined #dis2{
        font-size: 40px;
    }
    #hr{
        width: 280px;
    }
}
@media (max-width: 540px){
    .outlined{
        border: none;
    }
    .outlined div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .outlined #dis{
        font-size: 50px;
    }
    .outlined #dis2{
        font-size: 40px;
    }
    #hr{
        width: 280px;
    }
}
@media (max-width: 440px){
    .outlined #dis{
        font-size: 40px;
    }
    .outlined #dis2{
        font-size: 25px;
    }
    #hr{
        width: 280px;
    }
}
.room{
    width: 100%;
    height: 700px;
    background-color:antiquewhite;
    display: flex;
}
.main-info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phot{
    width: 50%;
    height: 100%;
    background-image: url('/images/photo3.jpg');
}
.room .info{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.photo-div{
    width: 100%;
    height: 315px;
    background-image: url('/images/photo2.jpg');
    background-size: cover;
    background-position: center;
}
.info .display-4{
    font-size: 44px;
}
.info .display-5{
    font-size: 35px;
    color: rgb(88, 88, 88);
}
@media (max-width:1080px){
    .room{
        flex-direction: column;
        height: 1100px;
    }
    .main-info{
        width: 100%;
    }
    .phot{
        width: 100%;
    }
}
@media (max-width:520px){
  .main-info .info p{
    margin-left: 10px;
  }
  .phot{
    background-size: cover;
  }
}
.kitchen .phot{
    background-image: url('/images/photo4.jpg');
}
.kitchen .photo-div{
    background-image: url('/images/photo5.jpg');
}
.pool .phot{
    background-image: url('/images/photo6.jpg');
}
.pool .phot{
    order: 1;
}
.pool .photo-div{
    background-image: url('/images/pool.jpg');
}
.kitchen .info{
    text-align: end;
}
@media (max-width:1080px){
    .main-info{
        padding-top: 30px;
    }
    .kitchen .info{
        text-align: start;
    }
    .kitchen .phot{
        order: 1;
    }
}
@media (max-width: 400px){
    .info .display-5{
        font-size: 25px;
    }
}
.btns button{
    color: black;
}
.about{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about p:nth-child(3){
    font-size: 20px;
}
.photo-xd{
    width: 100%;
    height: 600px;
    background-image: url('/images/modern2.jpg');
    background-size: cover;
    background-position: center;
}
.featur{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.featur i{
    font-size: 30px;
}
.top-fe{
    display: flex;
    gap: 10px;
}
.fe{
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    flex: 1;
    transition: 0.25s;
    background-position: center;
    background-image: url('/images/whiteeeeeee.jpg');
    background-size: cover;
}
.fe:hover{
    background-image: url('/images/photo4.jpg');
    color: white;
}
.fe-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}
@media (max-width: 768px){
    .top-fe{
        flex-direction: column;
    }
}
.fo{
    background-color: #191C1B;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer #hr{
    width: 100%;
    height: 2px;
    background-color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer ul{
    list-style-type: none;
}
.final-div{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bottom-foot{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.bottom-foot ul{
    display: flex;
    gap: 10px;
}
.bottom-foot a{
    transition: 0.25s;
    padding-bottom: 2px;
}
.bottom-foot a:hover{
    border-bottom: 1px solid white;
}
@media (max-width: 860px){
    .bottom-foot{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .bottom-foot ul{
        margin: 0;
        padding: 0;
    }
}
.lod{
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load{
    width: 100px;
    height: 100px;
}
@media (max-width:1082px){
    .phot{
        display: none;
    }
    .room{
        height: 100%;
    }
    .main-info{
        padding-top: 0;
    }
}
.prices{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.prices-dv{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 10px;
}
.prices-dv:hover{
    scale: 1.05;
}
.price-2{
    height: 450px;
    width: 450px;
}
.bg-prices{
    width: 100%;
    height: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-image: url('/images/photo2-fotor-20230618143210-fotor-20230618143929.jpg');
    background-position: center;
    background-size: cover;
}
.bg-prices *{
    margin: 0;
}
.bg-prices p:nth-child(1){
    font-size: 20px;
}
.bg-prices p:nth-child(2){
    font-size: 35px;
    
}
.bg-prices p:nth-child(3){
    font-size: 25px;
}
.info-prices{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-size: 19px;
}
.info-prices p{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-prices button{
    margin: 0;
    border-radius: 0;

}
.info-prices i{
    font-size: 25px;
}
@media (max-width: 992px){
    .prices{
        height: 100%;
    }
    .main-prices{
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 450px){
    .main-prices{
        gap: 40px;
    }
    .prices-dv{
        width: 350px;
        height: 350px;
    }
    .price-2{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 400px){
    .main-prices{
        gap: 30px;
    }
    .prices-dv{
        width: 300px;
        height: 400px;
    }
    .prices-dv:hover{
        scale: none;
    }
    .price-2{
        width: 350px;
        height: 450px;
    }
    .price-1 .info-prices, .price-3 .info-prices{
        font-size: 17px;
    }
    .price-1 button, .price-3 button{
        font-size: 17px;
        padding: 6px;
    }
}
.book{
    width: 100%;
}
.price-header p:nth-child(1){
    font-size: 50px;
    font-weight: 700;
}
@media (max-width: 470px){
    .price-header p:nth-child(1){
        font-size: 40px;
    }
    .prices{
        margin-bottom: 30px;
    }
}
@media (max-width: 992px){
    .price-header{
        text-align: center;
    }
}
.contact{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main-contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}
.left-contact{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div-info{
    width: 100%;
}
.div-info p:nth-child(1){
    font-size: 25px;
}
.right-contact{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.right-contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-contact form input{
    border:#191C1B 1px solid;
    border-radius: 0;
    background-color: transparent;
    font-size: 20px;
}
.xd{
    border:#191C1B 1px solid;
    border-radius: 0;
    background-color: transparent;
    max-height: 200px;
    font-size: 20px;
}
.right-contact form button{
    width: 100%;
    border-radius: 0px;
}
.right-header p:nth-child(1){
    font-size: 25px;
}
.right-header{
    display: flex;
    flex-direction: column;
}
.top-contact{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.main-contact iframe{
    width: 100%;
    height: 100%;
}
@media (max-width:992px){
    .contact{
        height: 100%;
    }
}
@media (max-width: 767px){
    .top-contact{
        height: 100%;
        flex-direction: column;
    }
    .left-contact{
        width: 100%;
    }
    .right-contact{
        width: 100%;
    }
}
.book{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.main-book{
    width: 1500px;
    background-color:antiquewhite;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.sections-inputs{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
}
.sections-inputs div:nth-child(1){
    height: 40%;
}
.sections-inputs div:nth-child(2){
    height: 60%;
}
.sections-inputs input,button,select{
    border: 1px solid black;
    border-radius: 0;
    background-color: transparent;
    transition: 0.25s;
    margin: 0;
}
.sections-inputs button:hover{
    background-color: black;
    color: white;
}
.sections-inputs label{
    font-size: 25px;
}
@media (max-width:1200px){
    .sections-inputs label{
        font-size: 20px;
    }
    .sections-inputs{
        width: 120px;
    }
    .main-book{
        gap: 0;
        justify-content: space-evenly;
    }
}
@media (max-width: 992px){
    .sections-inputs label{
        font-size: 18px;
    }
    .sections-inputs{
        width: 110px;
    }
    .book{
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-book{
        height: 100%;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sections-inputs{
        width: 80%;
    }
}
@media (max-width: 769px){
    .book{
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-book{
        height: 100%;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sections-inputs{
        width: 80%;
    }
}
.nav-xd{
    border-radius: 0;
}
.photo-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.photo-fav img{
    transition: 0.25s;
}
.photo-fav img:hover{
    transform: scale(1.1);
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
.sections-inputs input{
    width: 100%;
    height: 100%;
}
.sections-inputs select{
    width: 100%;
    height: 100%;
}
.sections-inputs button{
    width: 100%;
    height: 100%;
}
@media (max-width:500px){
    .photo-fav img{
        width: 150px;
        height: 150px;
    }
}
input[type = 'date']{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}